@font-face {
  font-family: Inter-Regular;
  src: url("../fonts/Inter-Regular-slnt=0.ttf"); }

@font-face {
  font-family: Podkova-ExtraBold;
  src: url("../fonts/Podkova-ExtraBold.ttf"); }

@font-face {
  font-family: Inter-Light;
  src: url("../fonts/Inter-Light-slnt=0.ttf"); }

@font-face {
  font-family: Podkova-SemiBold;
  src: url("../fonts/Podkova-SemiBold.ttf"); }

@font-face {
  font-family: Inter-Medium;
  src: url("../fonts/Inter-Medium-slnt=0.ttf"); }
